.container {
  background-color: #e2f7d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    text-align: center;
    border: 2px solid #73b72c; /* Light green border */
    border-radius: 20px; /* Rounded corners */
    padding: 30px; /* Optional padding inside the container */
    margin-left: 10%;
    margin-right: 10%;
   
  }
  
  .headingContainer {
    margin-bottom: 20px;
  }
  
  .heading {
    font-size: 36px;
    color: #73b72c; /* Green color matching the border */
    font-weight: bold;
  }
  
  .subheading {
    font-size: 28px;
    color: #333;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .imageContainer {
    flex: 1;
    margin-right: 20px;
  }
  
  .image {
    width: 100%;
    border-radius: 10px;
  }
  
  .ctaContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .ctaBoxGreen, .ctaBoxBlack {
    flex: 1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .ctaBoxGreen {
    background-color: #73b72c; /* Green background */
    color: white;
  }
  
  .ctaBoxBlack {
    background-color: #333; /* Black background */
    color: white;
  }
  
  .ctaBoxGreen, .ctaBoxBlack {
    flex: 1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
  }
  
  .ctaButton, .ctaButtonBlack {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    width: 150px; /* Fixed width for reduced length */
    text-align: center; /* Center the button text */
  }
  
  
  .ctaButton:hover, .ctaButtonBlack:hover {
    background-color: #f0f0f0;
  }
  